# Settings for environment. Notes:
#
#  - Since these are bash-like settings, there should be no space between the
#    variable name and the value (ie, "A=B", not "A = B")
#  - Boolean values should be all lowercase (ie, "A=false", not "A=False")

# Debug
export DEBUG=true

# uWSGI service in Django
export UWSGI_GID=1000
export UWSGI_UID=1000
